/* Initializing */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
.b {
  background: #85e6d5; }

.r {
  background: #ee8484; }

.y {
  background: #E2B540; }

.g {
  background: #7BB858; }

.w {
  background: #fff; }

.c {
  text-align: center;
  display: block; }

.rfont {
  color: #ee8484; }

.bfont {
  color: #77DCCA; }

.tright {
  text-align: right; }

* {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Open Sans"; }

a, a:hover, a:focus {
  text-decoration: none !important; }

a:hover {
  opacity: 0.9; }

.container ul, .container ol {
  margin-left: 20px; }
  .container ul li, .container ol li {
    margin: 10px 0; }

/* Main Content */
.container {
  padding: 50px 30px 30px;
  font-size: 16px;
  color: #444;
  line-height: 26px; }
  .container a {
    color: #85e6d5; }
  .container.sub {
    margin-top: 0; }

.narrow {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 5%; }

.wrap {
  margin: 15px auto; }

.sm {
  max-width: 500px; }

.medium {
  max-width: 700px; }

.middle {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%; }

.content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 100px 50px; }
  .content a {
    color: #85e6d5; }
  .content.center {
    text-align: center; }

.g {
  background: #f8f8f8; }

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 34px;
  color: #ee8484;
  margin: 10px 0 25px !important;
  text-align: center;
  font-family: "Raleway"; }
  h1.l {
    text-align: left; }

h2 {
  color: #ee8484;
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center; }
  h2.alt {
    text-transform: none;
    text-align: left;
    font-size: 24px; }
  h2.b {
    color: #85e6d5;
    background: none; }
  h2#heading {
    border-bottom: 1px solid #ee8484;
    padding-bottom: 10px;
    display: inline-block; }

h3 {
  margin: 25px 0 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Ubuntu";
  font-size: 18px;
  color: #77DCCA; }

.col-sm-6 h3 {
  text-align: center; }

p {
  margin: 15px 0; }

/* Portraits of CS */
.questions li {
  font-weight: 600; }

/* Banner */
.banner {
  height: 500px;
  background: url(../img/banner.jpg) center center;
  background-size: cover;
  overflow: hidden; }
  .banner .bg {
    max-width: 900px; }
  .banner .over {
    position: absolute;
    top: 150px;
    text-align: center !important;
    width: 100%; }
    .banner .over h1 {
      color: #fff;
      font-weight: 400;
      margin-top: 30px !important; }

/* Button */
.button {
  display: inline-block;
  background: #ee8484;
  font-family: "Raleway";
  color: #fff !important;
  padding: 11px 20px;
  cursor: pointer;
  border: none !important;
  font-size: 16px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  min-width: 200px;
  margin: 5px auto;
  transition: 0.2s all;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .button.teal {
    background: #85e6d5; }
    .button.teal:hover {
      background: #5FC3B2; }
  .button.white {
    opacity: 1 !important;
    background: none;
    border: 2px solid #fff !important; }
    .button.white:hover {
      background: #85e6d5;
      border-color: #85e6d5 !important; }

.button_wrap {
  text-align: center; }

/* Cols */
.row {
  margin-bottom: 15px;
  margin-top: 15px; }

.col-sm-6.left {
  padding-right: 30px; }

.col-sm-6.right {
  padding-left: 30px; }

.col2 {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  margin-top: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col2:first-of-type {
  margin-right: 5%; }

/* Navigation */
.navbar * {
  font-family: "Raleway";
  font-weight: 400 !important;
  font-size: 15px !important; }

.navbar {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #85e6d5 !important;
  background: #fff;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  top: 0;
  z-index: 100;
  width: 100%;
  top: 0; }
  .navbar .container-fluid {
    max-width: 850px; }
  .navbar li a {
    padding: 20px 15px; }
  .navbar li:hover {
    background: #ee8484; }
    .navbar li:hover a {
      color: #fff !important; }
  .navbar a {
    color: #ee8484 !important; }
  .navbar .open a {
    background: #ee8484 !important;
    color: #fff !important; }
  .navbar .dropdown-menu {
    border: none;
    box-shadow: none;
    padding: 0;
    background: #ee8484; }
    .navbar .dropdown-menu li {
      width: 100%; }
      .navbar .dropdown-menu li a {
        padding: 15px 15px;
        background: #ee8484;
        color: #fff !important; }
  .navbar .icon-bar {
    background: #fff !important;
    padding: 1px; }
  .navbar .no-link {
    cursor: default; }
  .navbar .logo {
    position: absolute;
    width: 50px;
    top: 0px;
    left: 30px; }
    .navbar .logo img {
      max-width: 100%; }
  .navbar .wicc {
    top: 14px;
    font-weight: 400 !important;
    z-index: 99;
    color: #85e6d5 !important;
    position: absolute;
    font-size: 22px !important; }

/* Events */
#events-upcoming {
  text-align: center; }
  #events-upcoming div {
    margin: 10px 2%;
    width: 20%;
    display: inline-block;
    vertical-align: top; }
    #events-upcoming div div {
      margin: 0;
      width: 100%; }

.info h3 {
  margin-bottom: 10px; }
.info p {
  margin: 0; }

.date {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #85e6d5;
  width: 80px !important;
  height: 80px;
  background: #85e6d5;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top; }
  .date .day {
    display: block !important;
    font-size: 28px;
    position: relative;
    top: -7px; }
  .date .month {
    display: block !important;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    top: -2px; }

/* Goals */
.goals {
  margin: 15px 0; }
  .goals .image {
    height: 60px;
    position: relative;
    bottom: 0; }
    .goals .image img {
      padding-bottom: 10px;
      max-height: 100%; }
  .goals h3 {
    color: #85e6d5; }
  .goals a {
    display: block;
    margin: 2px 0; }

/* Join Us on front page */
#joinus input {
  border: 1px solid #ddd;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  max-width: 230px; }
#joinus #error {
  margin-top: 15px; }
#joinus .button {
  width: 100%;
  max-width: 230px; }
#joinus .media-buttons img {
  width: 50px; }

/* Bottom Banner */
#bottom_banner {
  background: url("../img/pictures.jpg");
  height: 500px;
  background-size: cover; }

/* Resources */
.resources-info p {
  color: #888; }

.opportunities td {
  min-width: 200px; }

.img-block {
  height: 100px; }
  .img-block img {
    max-height: 100%; }

/* Footer */
.footer {
  background: #333;
  color: #ccc;
  position: relative;
  text-align: center; }
  .footer .container {
    padding: 30px 0;
    font-size: 16px; }
  .footer a {
    color: #ccc; }
  .footer .social_media {
    padding: 10px 0 30px; }
    .footer .social_media img {
      width: 40px;
      margin: 0 3px; }
      .footer .social_media img:hover {
        opacity: 0.8; }

/* MENTORSHIP PAGE */
.page_banner {
  background-size: cover !important;
  max-height: 300px;
  width: 100%;
  height: 300px; }

.bannerfix {
  height: 300px; }

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover !important;
  opacity: 0.1; }

#stats {
  color: #fff;
  padding: 20px 20px 30px; }
  #stats .num {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px; }
  #stats h3 {
    color: #fff;
    margin-bottom: 40px; }

#mentor_buttons {
  text-align: center; }
  #mentor_buttons h2 {
    display: inline-block;
    width: 47%;
    text-align: center !important;
    margin-right: 4%;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    padding: 10px 0;
    transition: all 0.2s; }
    #mentor_buttons h2:hover {
      border-bottom: 2px solid #85e6d5; }
    #mentor_buttons h2.selected {
      border-bottom: 2px solid #85e6d5; }
  #mentor_buttons h2:last-child {
    margin-right: 0; }

.director {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 10px 0; }
  .director .netid {
    font-size: 14px;
    color: #aaa;
    margin-top: -5px; }

.circle {
  max-width: 170px;
  display: inline-block; }
  .circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    width: 100%; }

.circle_sm {
  max-width: 80px; }

#mentee-info {
  display: none; }

/* ABOUT US PAGE */
.profile {
  margin: 40px auto;
  color: #888; }
  .profile h3 {
    margin-top: 0; }

.square_image {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  margin: 0 auto; }
  .square_image.s2 {
    border-color: #ee8484; }
  .square_image img {
    max-width: 100%; }

.info p {
  font-size: 16px;
  line-height: 1.5em;
  color: #777; }

.name {
  font-weight: 700;
  margin-top: 20px;
  text-align: center; }

.position {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase; }

.class {
  text-align: center;
  font-size: 15px; }

.mail a {
  display: none; }

/* Calendar */
#calendar {
  text-align: center; }

/* Career */
.career_wrap {
  text-align: center;
  margin-top: 30px; }

.career_item {
  display: inline-block;
  background: #ee8484;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: #fff !important;
  width: 110px;
  height: 110px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 45px;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  margin: 0 5px; }
  .career_item.two {
    padding-top: 35px; }

/* Join */
.fb {
  margin-right: 6px;
  margin-bottom: 10px; }

/* Calendar override */
#calendar {
  margin-bottom: 60px; }
  #calendar .fc-day-number {
    color: #888; }
  #calendar .fc-state-default {
    background-image: none;
    box-shadow: none;
    border: none;
    text-shadow: none; }
  #calendar h2 {
    color: #85e6d5;
    font-size: 20px; }
  #calendar .fc-day-grid-event .fc-content {
    white-space: normal;
    padding: 10px 0; }
  #calendar .fc-event {
    border: #ee8484;
    background: #ee8484; }

/* Media */
@media screen and (max-width: 1000px) {
  .cover {
    height: 350px; } }
@media screen and (max-width: 768px) {
  .position {
    text-align: center;
    margin-top: 10px; }

  .cover {
    height: 300px; }

  .nav li a {
    padding: 10px 15px; }

  .goals .image {
    margin-top: 40px; }

  h1.l {
    text-align: center; }

  h1.top {
    padding-top: 40px; }

  .row {
    margin-bottom: 10px; }

  .event {
    width: 28%; } }
@media screen and (max-width: 550px) {
  .cover {
    height: 250px; } }
@media screen and (max-width: 450px) {
  .cover {
    height: 200px; }

  .event {
    width: 43%; } }
